{% extends 'base.html.twig' %}
{# {% trans_default_domain 'messages' %} #}

{% block title %}Hello HomeController!{% endblock %}

{% block body %}
    {# <h1>{{ 'Coucou ça fonctionne'|trans }}</h1>
    <p>{{ 'Bonjour'|trans}}</p> #}
    <h1>{{ 'Hi'|trans }}</h1>
    <h3>{{ 'It works'|trans }}</h3>
{% endblock %}
