{% extends 'base.html.twig' %}
{# {% trans_default_domain 'messages' %} #}

{% block title %}Hello HomeController!{% endblock %}

{% block body %}
    <h1>{{ firstTranslation }}</h1>
    <h2>{{ secondTranslation }}</h2>
    <p class="symfony">{{ thirdTranslation }}</p>
    <p class="alice">{{ fourthTranslation }}</p>
{% endblock %}
